@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');
* {
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

header {
    height: 60vh;
    background: url(https://images.unsplash.com/photo-1528459061998-56fd57ad86e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=619&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

a {
    text-decoration: none;
}

nav {
    background: #530654;
    height: 50px;
    padding: 15px;
    box-shadow: 1px 2px 1px #3f3f3f;
}

nav .logo {
    color: white;
    font-weight: 700;
    float: left;
}

nav .logo img {
    height: 30px;
}

nav .nav-list {
    float: right;
    padding: 0;
    margin: 0;
}

nav .nav-list li {
    display: inline-block;
}

nav .nav-list li a {
    color: white;
    padding: 0 5px;
}

nav .nav-list li a:hover {
    color: #d4637f;
    background: white;
    padding: 15px 5px;
}

nav .nav-list li a.active {
    color: #d4637f;
    background: white;
    padding: 15px 5px;
    font-weight: 600;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91%;
    background: rgba(0,0,0,.7);
}

header h1, header p {
    color: white;
}

.w-100 {
    width: 100%;
}

/* Btn Style */
.btn {
    
    padding: 10px 15px;
    border-radius: 5px;
}

.btn-primary {
    background: #7f0248;
    color: white;
    cursor: pointer;
}

.btn-primary:hover {
    background: #530654;
    color: white;
}

button {
    border: 0;
}

/* Generic Class */
.section-title {
    border-left: 2px solid #7f0248;
    padding-left: 1rem;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    opacity: 0.5;
}

/* Flex Box */

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    display: inline-block;
    width: 50%;
}

.col-3 {
    display: inline-block;
    width: 33.33%;
}

/* Margins & Paddings */ 
.p-1 {
    padding: 1rem;
}
.pt-3 {
    padding-top: 3rem;
}

.pb-3 {
    padding-bottom: 3rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

/* Cards */
.card {
    background: #fafafa;
    box-shadow: 2px 1px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.card > img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card .card-body {
    padding: 1rem;
}


#about {
    background: #235f7e;
    padding: 3rem 0;
    color: white;
}


#contact {
    padding: 3rem 0;
}

.contact-detail {
    line-height: 2rem;
}

/* Form */

.input-style {
    display: inline-block;
    width: 100%;
    padding: 5px;
}

.form-group {
    margin-bottom: 1rem;
}

footer {
    background: #222222;
    color: white;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer ul li {
    list-style-type: none;
}

footer ul li a {
    color: white;
}

footer ul li a:hover{
    color: #7f0248;
}


/* Scroll to top */

.sroll-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1005;
    cursor: pointer;
    background: darkred;
    padding: 1rem;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}